body {
    background-image: url('Download.jpg'); /* Bild im gleichen Ordner wie die CSS-Datei */
    background-size: 50%; /* Bild kleiner darstellen */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}